      <a href="{{ .Permalink }}" class="thumbnail-link col col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="featured-methods-single">
          <div class="thumbnail">
            <img src="../methods/{{ .Params.header.thumbnail }}" alt="{{ .Params.short_title }}" title="{{ .Params.short_title }}: {{ .Params.header.summary }}"  class="pull-left">
            <div class="media-body">
              <h3>{{ .Title }}</h3>
              {{ .Params.header.summary }}
            </div>
            {{ if not (eq .Params.sidebar.great_for "") }}
              <div class="great-for clear-left">
                <h3>Great for:</h3>
                <ul>
                  {{ range .Params.sidebar.great_for }}<li>{{ . }}</li>{{ end }}
                </ul>
              </div>
            {{ end }}
          </div>
        </div>
      </a>
