<a href="{{ .Permalink }}" class="case-studies-single-box">
  <div class="thumbnail">
    <div class="case-studies-single-box--image" style="background-image: url('/methods/{{ .Params.header.thumbnail }}');"></div>
    <div>
      <h3>{{ .Title }}</h3>
      {{ if not (eq .Params.header.summary "") }}
      <p class="action-description">{{ .Params.header.summary }}</p>
      {{ end }}
    </div>
  </div>
</a>