@import 'bootstrap';
@import 'theme';
body {
    padding-top: 20px;
    background-color: $body-bg-uxls;
    font-family: Raleway, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    @media (max-width: $screen-xs-max) {
        padding-top: 0;
    }
    >.container {
        background-color: $white-bg;
        box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.56), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        margin-bottom: 40px;
        border-radius: $border-radius-large;
        @media (max-width: $screen-xs-max) {
            border-radius: 0;
        }
        >.row {
            padding-left: $container-padding-lg;
            padding-right: $container-padding-lg;
            @media (max-width: $screen-md-max) {
                padding-left: $container-padding-md;
                padding-right: $container-padding-md;
            }
            @media (max-width: $screen-sm-max) {
                padding-left: $container-padding-sm;
                padding-right: $container-padding-sm;
            }
            @media (max-width: $screen-xs-max) {
                padding-left: $container-padding-xs;
                padding-right: $container-padding-xs;
            }
        }
    }

    h1 {
    	font-size: 42px;
    	font-weight: bold;
    }
}

.hide-on-click {
	display: none;
}

.row.is-flex {
    // just add .is-flex to a row to make any column inside equal height
    display: flex;
    flex-wrap: wrap;
        >[class*='col-'] {
        display: flex;
        flex-direction: column;
            &.flex-reset {
                display: inline-block !important;
            }
        }
}

.widget {
    // front page widgets
    h2 {
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 25px;
    }

    .btn-primary {
        padding: 14px 28px;
        border: none;
    }
    .btn-primary-white {
        background-color: white;
        color: #18a1ad;
        text-shadow: none;
        box-shadow: none;
    }
    padding: 30px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    &.title {
		padding: 3em 5em;

        @media (max-width: $screen-sm-max) {
            padding: 30px;
        }
        @media (max-width: $screen-md-min) {
            font-size: 1em;
        }
		@media (max-width: $screen-xs-max) {
            font-size: 1em;
        }
        h1,
        p {
            margin: 0;
            color: $body-bg;
            line-height: 1.3em;
        }
        h1 {
			font-size: 38px;
			font-weight: normal;
			@media (max-width: $screen-xs-max) {
            	font-size: 28px;
        	}
		}
        p {
            line-height: 1.7em;
            font-size: 1.2em;
            margin-bottom: 20px;
            margin-top: 20px;
        }
    }
    &.methods {
        margin-bottom: 15px;

        .col-md-6 {
            padding: 0;
        }

        h2 {
            margin-bottom: 20px;
        }
        li {
            line-height: 1.5em;
        }
    }
    &.organisations { // different from organisations shortcode! (See below)
        // background-color: $grey-bg-light;
        .members-logo {
            min-height: 100px;
            position: relative;
            img {
                max-height: 80%;
                max-width: 80%;
                width: auto;
                height: auto;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
        }
    }
    &.quote {
        background-color: $turquoise-bg;
        color: #fff;
        text-align: center;
        h2 {
            font-size: 3em;
            line-height: 1.6em;
            @media (max-width: $screen-md-max) {
                font-size: 2em;
            }
        }
        p {
            font-size: 1.6em;
            margin-top: 20px;
            .btn {
                color: $brand-primary;
                background-color: #fff;
                margin-top: 20px;
            }
            @media (max-width: $screen-md-max) {
                font-size: 1em;
            }
        }
    }

    &.case-studies {
      background-color: $grey-bg-light;
    }
    &.ux-in-action {
    	background-color: $grey-bg-light;
    }
    &.featured-ux-methods {
        background-color: $grey-bg-light;
        > a {
            color: #333;
            &:hover {
                color: $uxls-teal;
                text-decoration: none;
            }
        }
		img {
    		width: 196px;
			display: block;
			padding: 10px;
			margin-right: 5px;
			background-color: $white-bg;
			border: 0;
			border-radius: 15px;
			@media (max-width: $screen-xs-max) {
			    width: 100%;
			    padding: 0;
				margin-right: 0;
				min-height: 0;
			}
		}
    }
    // &.the-team {
    //     background-color: $grey-bg-light;
    // }
}

.tags {
    margin: 20px auto 0;
    font-family: Raleway,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;

    .tag {
        display: inline-block;
        margin: 5px;
        padding: 7px;
        background-color: #ccc;
        color: black;
    }
    a.tag:hover {
        background-color: #aaa;
        text-decoration: none;
        color: black;
    }

    &.tags--nomargin {
        margin: 0;
    }
    &.tags-dark {
        .tag {
            background-color: #aaa;
        }
    }
    &.tags--left {
        text-align: left;
        .tag:first-child {
            margin-left: 0;
        }
    }
}

.case-studies-single-boxes {
    /* Default small styles: full width boxes */
    max-width: 100%;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;

    .case-studies-single-box {
        flex: 1 1 auto;
        min-width: 50px;
        max-width: 100%;
    }
}
@media (min-width: $screen-sm-min) {
    /* Small and up: 50% boxes */
    .case-studies-single-boxes.case-studies--sm-6 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .case-studies-single-box {
            flex: 1 1 auto;
            max-width: 50%;
            width: 50%;
        }
    }
}
@media (min-width: $screen-md-min) {
    /* Override class for Medium and up: full width boxes */
    .case-studies-single-boxes.case-studies--md-12 {
        display: flex;
        flex-direction: column;

        .case-studies-single-box {
            flex: 1 0 auto;
            max-width: 100%;
            width: 100%;
        }
    }
}
@media (min-width: $screen-md-min) {
    /* Override class for Medium and up: 3 boxes per row */
    .case-studies-single-boxes.case-studies--md-4 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .case-studies-single-box {
            flex: 1 1 auto;
            max-width: 33%;
            width: 33%;
        }
    }
}

.case-studies-single-box {
    display: block; /* for older browsers */
    display: flex;
    position: relative;
    padding: 0 10px 0 0;
    color: #333;

    .case-studies-single-box--image {
        width: 100%;
        height: 200px;
        border-radius: 7px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .case-studies-single-box--link {
        color: #333;
        &:hover {
            color: $uxls-teal;
            text-decoration: none;
        }
    }
    & h3 {
        font-size: 1.5em;
        margin: 10px 0;
        text-align: center;
    }
    & p {
        font-size: 15px;
        text-align: center;
    }

    >.thumbnail {
        flex: 1 1 auto;
        display: block;
        padding: 10px;
        background-color: $white-bg;
        border: 0;
        border-radius: 15px;
        @media (max-width: $screen-xs-max) {
            margin-right: 0;
            min-height: 0;
        }
        >.grey-bg {
    		background-color: $grey-bg-light;
   		}
    }
    .company-date {
        font-size: 1em;
        color: $gray-light;
    }
}

.featured-methods-single {
    padding: 0;
    & img {
        padding: 10px;
        float: left;
    }
    & h3 {
        font-size: 1.5em;
        margin: 10px 0;
    }
    &p {
        font-size: 1.3em;
    }
    @media (max-width: $screen-xs-max) {
        & img {
            float: none;
        }
    }
    >.thumbnail {
        display: inline-block;
        padding: 4px;
        margin-right: 20px;
        background-color: #fff;
        border: 0;
        border-radius: 15px;
        @media (max-width: $screen-xs-max) {
            display: block;
            padding: 1em;
        }
    }

    .media-body {
       padding: 0px 10px 10px 0px;
    }
}

.team-members {
	margin-top: 30px;
	margin-left: 0px;
}

.team-single {
    padding: 0;
    & img {
        max-width: 100%;
        max-height: 80%;
        border-radius: 7px;
    }
    & h3 {
        font-size: 1.5em;
        margin: 10px 0;
        color: $uxls-teal;
    }
    &p {
        font-size: 1.3em;
    }
    .team-company {
        font-weight: bold;
        color: $uxls-teal;
    }
    >.thumbnail {
        height: 100%;
        display: block;
        padding: 10px;
        margin-right: 20px;
        background-color: $grey-bg-light;
        border: 0;
        border-radius: 15px;
        @media (max-width: $screen-xs-max) {
            margin-right: 0;
        }
    }
}

.yamm {
    // http://geedmo.github.com/yamm3
    .navbar-toggle {
        margin-right: 0;
    } // reset positions
    .nav,
    .collapse,
    .dropup,
    .dropdown {
        position: static;
    } // by default aligns menu to left
    .dropdown-menu {
        left: auto;
        border: none;
        box-shadow: none;
        border-radius: 0;
        box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);

    } // Content with padding
    .yamm-content {
        padding-left: ($container-padding-lg + 15px);
        padding-right: ($container-padding-lg + 15px);
        @media (max-width: $screen-md-max) {
            padding-left: ($container-padding-md + 15px);
            padding-right: ($container-padding-md + 15px);
        }
        @media (max-width: $screen-sm-max) {
            padding-left: ($container-padding-sm + 15px);
            padding-right: ($container-padding-sm + 15px);
        }
        @media (max-width: $screen-xs-max) {
            padding-left: ($container-padding-sm - 15px);
            padding-right: ($container-padding-sm - 15px);
        }
    } // Fullwidth menu
    .dropdown.yamm-fw .dropdown-menu {
        left: -15px;
        right: -15px;
    }
}

.navbar {
    padding-left: $container-padding-lg;
    padding-right: $container-padding-lg;
    @media (max-width: $screen-md-max) {
        padding-left: $container-padding-md;
        padding-right: $container-padding-md;
    }
    @media (max-width: $screen-sm-max) {
        padding-left: $container-padding-sm;
        padding-right: $container-padding-sm;
    }
    background-color: #fff;
    border: 0px;
    font-family: Raleway, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-style: normal;
    font-size: 15px;
    h1,
    h2 {
        font-family: Decalotype, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    }
    #navbar-collapse-1 {
        padding-left: 0;
        margin-left: -15px;
        @media (max-width: $screen-sm-min) {
            margin-left: 0px;
        }
    }
    .navbar-brand {
        color: $uxls-teal;
    }
    .caret {
        color: $uxls-teal;
        margin-left: 7px;
    }
    .arrow {
        color: $gray-dark;
        width: 80%;
        position: relative;
        background: $grey-bg-light;
        text-align: center;
        padding: 10px 0 15px 0;
        font-weight: bold;
        &:after,
        &:before {
            content: "";
            position: absolute;
            width: 20px;
            height: 50%;
            left: 100%;
        }
        &:after {
            bottom: 0;
            background: linear-gradient(to right bottom, $grey-bg-light 50%, transparent 50%);
        }
        &:before {
            top: 0;
            background: linear-gradient(to right top, $grey-bg-light 50%, transparent 50%);
        }
    }
    .horizontal {
        border-left: 1px solid $grey-bg-light;
    }
    .menu-methods,
    .menu-uxactions {
        padding-top: 10px;
        padding-bottom: 30px;
        h3 {
        	margin-top: 0;
        }
        ul {
            list-style: none;
            list-style-position: inside;
            margin-left: -40px;
            li {
                margin-left: 0;
                padding: 4px 0;
            }
        }
        a:not(.btn) {
            color: #333;
            &:hover {
                color: $uxls-teal;
                text-decoration: none;
            }
        }
        .uxactions-image {
            min-height: 100px;
            background-size: cover;
            background-position: center;
            border-radius: 2px;
        }
        .uxactions-content {
            span {
                font-weight: bold;
            }
        }
    }
}

.main-title {
    padding-left: $container-padding-lg;
    padding-right: $container-padding-lg;
    @media (max-width: $screen-md-max) {
        padding-left: 0;
        padding-right: 0;
    }
    @media (max-width: $screen-sm-max) {
        padding-left: 0;
        padding-right: 0;
    }
    padding-top: 20px;
    padding-bottom: 10px;
    h1,
    h4 {
        font-family: Raleway, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
        font-style: normal;
        display: inline-block;
        vertical-align: baseline;
        line-height: 100%;
    }
    h1 {
        font-size: 35px;
        font-weight: bolder;
        color: $uxls-teal;
        margin-right: $padding-large-horizontal;
    }
    h4 {
        color: $navbar-default-link-color;
    }
    .uxls-logo {
        padding: 0 15px 0 0;
        img {
            width: 90px;
            max-width: 100%;
        }
    }
    hr {
        margin: 10px 0;
        border: none;
        border-bottom: 1px solid lighten($uxls-teal, 5%);
    }
}

// BETA Badge

.beta {
	margin-left: 5px;
	color:violet;
	font-weight:bold;
}

.hero {
    background-color: $brand-info;
    color: #fff;
    padding: 300px $container-padding-lg 30px $container-padding-lg;
	box-shadow: inset 0 -240px 180px 0 rgba(0, 0, 0, 0.5);
    @media (max-width: $screen-sm-max) {
        padding: 30px;
        background-size: cover;
    }
    @media (max-width: $screen-md-max) {
        padding: 200px $container-padding-md 20px $container-padding-md; // border: 10px solid green;
    }
    @media (max-width: $screen-sm-max) {
        padding: 300px $container-padding-sm 30px $container-padding-sm; // border: 10px solid blue;
    }

    .hero-legend {
        -webkit-border-radius: $border-radius-large;
        -moz-border-radius: $border-radius-large;
        border-radius: $border-radius-large;
        padding: 10px 20px 1px 20px;
        background-color: rgba(255,255,255,0.75);
        color: black;

        h1 {
            font-size: 40px;
            font-weight: normal;
        }
        .reading-time {
            font-size: 1.2em;
            font-weight: bold;
        }
    }
}

.home-intro {
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    width: 40%;
    padding: 3em;
    float: right;
    -webkit-border-radius: $border-radius-large;
    -moz-border-radius: $border-radius-large;
    border-radius: $border-radius-large;
    @media (max-width: $screen-sm-max) {
        padding: 30px;
        background-size: cover;
    }
    @media (max-width: $screen-md-max) {
      width: 50%;
    }
    @media (max-width: $screen-sm-max) {
      width: 100%;
    }
    @media (max-width: $screen-xs-max) {
      width: 100%;
    }
}

.page-intro {
    background-color: $turquoise-bg;
    color: #fff;
    width: 50%;

    float: right;
    -webkit-border-radius: $border-radius-large;
    -moz-border-radius: $border-radius-large;
    border-radius: $border-radius-large;
    @media (max-width: $screen-sm-max) {
        padding: 30px;
        background-size: cover;
    }
    @media (max-width: $screen-md-max) {
      padding: 30px;
      width: 50%;
        // padding: 200px $container-padding-md 20px $container-padding-md; // border: 10px solid green;
    }
    @media (max-width: $screen-sm-max) {
      padding: 30px;
      width: 100%;
        // padding: 300px $container-padding-sm 30px $container-padding-sm; // border: 10px solid blue;
    }
}

.title h1,
.title p,
.hero h1,
.hero p {
    margin: 0;
    line-height: 1.3em;
}
.title h1,
.title p {
    color: $body-bg;
}

.title p,
.hero p,
.hero a.tag {
    line-height: 1.7em;
    font-size: 1.2em;
    margin-bottom: 20px;
    margin-top: 20px;
    @media (max-width: $screen-md-min) {
        font-size: 1em;
    }
}
.hero a.tag {
    margin: 0;
}

.content {
    background-color: $grey-bg-light;
}

footer {
    background-color: $uxls-teal;
    color: #fff;
    -webkit-border-radius-bottomleft: inherit;
    border-bottom-left-radius: inherit;
    -webkit-border-radius-bottomright: inherit;
    border-bottom-right-radius: inherit;
    padding-top: 30px;
    .btn {
        color: $brand-primary;
        background-color: #fff;
        margin-top: 20px;
        padding: 10px 30px;
    }
    h2 {
        margin-bottom: 20px;
    }
    @media (max-width: $screen-md-max) {
        h2 {
            text-align: left;
        }
    }
    p {
        font-size: 1.2em;
        opacity: 0.7;
        a {
    		opacity: 1;
	    	text-transform: uppercase;
    	}
    }

    .footer-links {
    	opacity: 1;
    }

    .pa-copyright {
        opacity: 1;
        font-size: 1em;
        margin: 20px 0;
    }
    .white-logo {
    	max-width: 300px;
    	margin: auto;

     	& img {
        	max-width: 100%;
      	    max-height: 100%;
     	    margin-top: 20px;
        }
    }
    a {
    	color: #fff;
    	opacity: 1;
    }
    a:hover {
    	color: #fff;
    }
}

// Methods page

.methods-page {
    padding-bottom: 40px;

    &.shaded {
        background-color: $grey-bg-light;
    }

    h1 {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .methods-process {
        margin-top: 20px;
        margin-bottom: 40px;

        .featured-methods-single {
            display: flex;
        }

        .process-item {
            position: relative;
            display: block;
            flex: 1 1 auto;
            min-width: 20px;
            align-self: stretch;
            margin-top: 5px;
            margin-right: 5px;
            padding: 20px;
            background-color: #fff;

            &:hover {
                text-decoration: none;
            }

            > p {
                color: $gray;
            }
        }
        .process-item--first {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        .process-item--last {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        .process-icon {
            float: none;
            height: 85px;
        }
        .process-arrow-right,
        .process-arrow-bottom {
            position: absolute;
            width: 70px;
            height: 70px;
            z-index: 1;
        }
        .process-arrow-right {
            right: -35px;
            top: 50%;
            margin-top: -35px;

        }
        .process-arrow-bottom {
            bottom: -35px;
            left: 50%;
            margin-left: -35px;
        }

        @media (min-width: $screen-md-min) {
            display: flex;
            flex-flow: row nowrap;
            align-items: stretch;

            .process-item--first {
                border-top-right-radius: 0;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
            .process-item--last {
                border-bottom-left-radius: 0;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }
    }

    .process-header-icon {
        margin-top: -5px;
        margin-right: 10px;
        height: 35px;
    }

    .approach-link {
        margin-bottom: 30px;
    }

    .methods-listing {
        display: flex;
        flex-flow: row wrap;
        align-items: stretch;
        margin-top: 20px;
        margin-bottom: 30px;

        .thumbnail-link {
            display: block;
            flex: 0 1 auto;
            min-width: 100px;
            margin-bottom: 20px;
            color: black;
            &:hover {
                color: $uxls-darkteal;
            }
        }

        .featured-methods-single {
            height: 100%;
        }

        .thumbnail {
            margin-right: 0;
            height: 100%;
            font-size: 0.9em;
            line-height: 1.3em;

            li {
                margin-bottom: 3px;
            }

            h3 {
                font-size: 20px;
            }

            img {
                border-radius: 15px;
                width: 35%;
                margin-right: 10px;
                margin-bottom: 10px;
            }
        }

        .thumbnail-intro {
            -webkit-border-radius: 1px;
            -moz-border-radius: 1px;
            border-radius: 1px;
            min-height: 180px;
            padding-top: 1em;
        }

        .great-for {
            clear: left;
            h3 {
                margin-left: 20px;
            }
        }
    }

    .method-capabilities-container {
        background-color: white;
    }
    .method-capabilities {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 30px;
        border-collapse: separate;
        border-spacing: 5px 0;
        background-color: #fff;
        font-size: 1.1em;

        .method-header-row {
            font-size: 1.2em;
        }

        th {
            &.method-header-main {
                padding: 10px 10px 10px 15px;
                background-color: #ccc;
                white-space: nowrap;
            }
            &.method-category {
                border-right: 7px solid #fff;
                padding: 5px 10px;
                background-color: $brand-primary;
                color: white;
                text-align: center;
                font-size: 1.1em;

                .method-category-icon {
                    margin-top: 5px;
                    margin-bottom: 7px;
                    height: 25px;
                }
            }
        }

        th.method-header {
            vertical-align: middle;
            .method-link {
                display: block;
                border: 1px solid $gray-lighter;
                padding: 10px;
                font-size: 0.85em;
                color: black;
                &:hover, &:active {
                    color: $uxls-darkteal;
                    text-decoration: none;
                }
            }
        }

        .method-group-spacer th {
            padding: 7px;
        }

        .method-capability-header {
            padding: 10px;
            background-color: $gray-lighter;
            text-align: center;
            font-size: 0.7em;
        }
        .method-capability {
            border: 1px solid $gray-lighter;
        }
        .method-capability {
            border-top-width: 0;
        }
        .method-group-spacer + .method-row {
            .method-capability {
                border-top-width: 1px;
            }
        }
        .method-capability {
            text-align: center;
            .no-capability {
                height: 25px;
            }
            .has-capability-icon {
                margin: 10px 0;
                width: 25px;
                height: 25px;
            }
        }
    }

    .contact-link {
        margin-top: 20px;
    }
}


// UX Approach and Principles page
.ux-approach-and-principles {
    background-color: $grey-bg-light;
    .title-image-container {
        margin-top: 20px;
        width: 100%;

        > img {
            width: 100%;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
        }
    }
    h1 {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    article {
        margin-top: 30px;
    }
    h2 {
        margin-top: 30px;
    }
    hr {
        margin: 20px 0;
        border: none;
        border-bottom: 2px solid #ddd;
    }
    .guide-to-ux-sidebar {
        padding-left: 30px;
        margin-bottom: 30px;
        .sidebar-section {
            margin-bottom: 10px;
            > h2 {
                margin-top: 32px;
                margin-bottom: 21px;
            }
        }
        a:not(.btn):not(.tag) {
            color: #333;
            &:hover {
                color: $uxls-teal;
                text-decoration: none;
            }
        }
        .btn-primary {
            display: block;
            margin-right: 10px;
            font-size: 15px;
        }
        .featured-methods-single {
            padding-right: 10px;
            text-align: center;
            .thumbnail {
                margin-right: 0;
                > img {
                    width: 100%;
                    border-radius: $border-radius-large;
                }
                .media-body {
                    padding: 0 8px 8px 8px;
                    font-size: 15px;
                }
            }
        }
    }
}

// Cycle shortcode
.cycle {
    margin-top: 30px;
    margin-bottom: 30px;
    .cycle-heading {
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 24px;
    }
    .cycle-desc {
        padding-bottom: 15px;
        font-size: 16px;
        line-height: 1.5em;
    }
    > .row > .col {
        position: relative;
    }
    .cycle-row-top  {
        flex-flow: row nowrap;
        > .col {
            display: flex;
            justify-content: flex-end;
            &.cycle-top-left {
                align-items: flex-end;
            }
            &.cycle-top-right {
                align-items: flex-start;
            }
            > img {
                max-height: 100px;
                max-width: 100%;
            }
        }
    }
    .cycle-row-middle {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .cycle-row-bottom {
        text-align: center;
        > .col {
            align-items: center;
            > img {
                max-width: 50%;
                max-height: 40px;
            }
        }
    }
}

// Principles shortcodes
.principles {
    margin-top: 30px;
}
.principle {
    margin-bottom: 30px;
    .principle-icon {
        margin-bottom: 10px;
        > img {
            height: 70px;
        }
    }
    .principle-heading {
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 24px;
    }
    .principle-desc {
        font-size: 16px;
        line-height: 1.5em;
    }
}

// Organisations shortcode

.organisations-shortcode {
    margin-bottom: 40px;

    .members-logo {
        min-height: 100px;
        position: relative;
        img {
            max-height: 80%;
            max-width: 80%;
            width: auto;
            height: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
}

// UX in action
// TODO: Clean up, this is just copy and paste from the ux-in-action single

.ux-in-action-page {
	padding-bottom: 25px;

	h3 {
		font-size: 23px;
		font-weight: bold;
		margin-bottom: 15px;
	}

	p, ul, li {
		font-size: 16px;
		line-height: 1.5em;
	}

	ul, li {
		margin-bottom: 5px;
	}
}

// Case Studies
// TODO: Clean up, this is just copy and paste from the case-studies single

.case-studies-page {
    padding-bottom: 25px;

    h1 {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    h3 {
        font-size: 23px;
        font-weight: bold;
        margin-bottom: 15px;
    }

    p, ul, li {
        font-size: 16px;
        line-height: 1.5em;
    }

    ul, li {
        margin-bottom: 5px;
    }
}

/* Aside Header */

aside {
	hr {
		margin: 20px 0;
        border: none;
        border-bottom: 2px solid #ddd;
	}

	h3 {
		font-family: Decalotype, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    	font-size: 25px;
    	font-weight: bold;
	}

	h4 {
    	font-family: Decalotype, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    	font-size: 20px;
    	font-weight: bold;
	}

	p, ul, li {
		font-size: 16px;
	}

	img {
		width: 100%;
		height: 100%;
		margin-bottom: 10px;
	}

	.project-stage {
		text-align: center;
		border: 2px solid $uxls-teal;
		padding: 15px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	}
}

.aside-tool-padding {
    padding: 1px 0px;

    ul {
    	padding-left: 18px;
    }
}

.at-a-glance, .life-sciences-tips {
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    ul, li {
		margin-bottom: 5px;
	}
}

.life-sciences-tips {
    background-color: #ddd;
}

// Grey background
.grey-bg-light {
    background-color: $grey-bg-light;
} // Turquoise background
.turquoise-bg {
    background-color: $turquoise-bg;
}

.read-more {
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 7px;
}

// Article

article {
	margin-top: 55px;
	margin-bottom: 55px;

	h2 {
		font-size: 35px;
		font-weight: bold;
		margin-bottom: 25px;
	}

	h3 {
		font-size: 23px;
		font-weight: bold;
		margin-bottom: 25px;
	}

	p, ul, li {
		font-size: 16px;
		line-height: 1.5em;
	}

	ul, li {
		margin-bottom: 5px;
	}

    table {
        margin-bottom: 10px;
        font-size: 1.1em;
        padding: 11em;
        background-color: #fefefe ;
        width: auto;
        -webkit-border-radius: $border-radius-large;
        -moz-border-radius: $border-radius-large;
        border-radius: $border-radius-large;
    }

    thead, td {
        padding: 5px;
        vertical-align: top;
    }

    th {
        padding: 10px 5px 5px 5px;
    }

    table > thead:first-child > tr:first-child > th:first-child {
        height: 100%;
        color: $uxls-darkteal;
    }

    table > tbody > tr > td:first-child {
        height: 100%;
        color: $uxls-darkteal;
    }

    table > tbody > tr > td:last-child {
        padding: 5px 5px 10px 5px;
    }
}

.picture {
	margin-top: 55px;
    figure {
    	margin-bottom: 20px;
        font-weight: bold;
        img {
            height: 100%;
            max-height: 100%;
            width: 100%;
            max-width: 100%;
        }
        figcaption {
        	margin-top: 5px;
        }
    }
}

.left-side-image {
	margin-top: 20px;
	height: 70px;
}

// Blog

.blog-author {
    color: #555;
    margin-top: -10px;
}
