<div class="cycle">
    <div class="row cycle-row-top is-flex">
        <div class="col col-xs-3 cycle-top-left"><img src="/shortcodes/cycle-top-left.png" /></div>
        <div class="col col-xs-6">
            <div class="cycle-heading">{{ .Get "title1" }}</div>
            <div class="cycle-desc">{{ .Get "desc1" }}</div>
        </div>
        <div class="col col-xs-3 cycle-top-right"><img src="/shortcodes/cycle-top-right.png" /></div>
    </div>
    <div class="row cycle-row-middle">
        <div class="col col-xs-6">
            <div class="cycle-heading">{{ .Get "title3" }}</div>
            <div class="cycle-desc">{{ .Get "desc3" }}</div>
        </div>
        <div class="col col-xs-6">
            <div class="cycle-heading">{{ .Get "title2" }}</div>
            <div class="cycle-desc">{{ .Get "desc2" }}</div>
        </div>
    </div>
    <div class="row cycle-row-bottom is-flex">
        <div class="col col-xs-12"><img src="/shortcodes/cycle-bottom.png" /></div>
    </div>
</div>