<div class="col-sm-6 principle">
    <div class="row">
        <div class="principle-icon col-xs-3 col-sm-12"><img src="{{ .Get "image" }}" alt="" /></div>
        <div class="col-xs-9 col-sm-12">
            <div class="principle-heading">{{ .Get "title" }}</div>
            <div class="principle-desc">{{ .Inner }}</div>
        </div>
    </div>
</div>
