<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#00656e">
    <meta name="description" content="A UX Toolkit for the Life Sciences Community, by the Life Sciences Community.">
    <meta name="author" content="Pistoia Alliance">

    <title>{{ .Title }}</title>

    <link href="{{ .Site.BaseURL }}static/styles.min.css" rel="stylesheet">
    <link href="{{ .Site.BaseURL }}lightbox.css" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,700,800' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700,800' rel='stylesheet'>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ .Site.BaseURL }}lightbox.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function() {
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#000000"
                    },
                    "button": {
                        "background": "#00a1ae"
                    },
                    "highlight": {
                        "background": "#00656e"
                    }
                },
                "theme": "edgeless",
                "content": {
                    "message": "We use cookies to provide you with a better service. Carry on browsing if you\'re happy with this.",
                    "link": "Find out more",
                    "href": "{{ .Site.BaseURL }}privacy-statement/"
                }
            })
        });
    </script>
</head>

<body>
    <div class="container">
        {{ partial "page_header.html" . }} {{ partial "menu.html" (dict "menu" .Site.Menus.main "page" . "site" .Site) }}
