{{ $ := .root }}
{{ $page := .page }}

{{ with $page.Content }}
    <div class="row widget {{ $page.Params.widget }}">
        <div class="col-sm-12">        
            {{ . | markdownify }}
        </div>
    </div>
{{ end }}
