{{ $ := .root }}
{{ $page := .page }}

{{ with $page.Content }}
    <div class="row widget {{ $page.Params.widget }}" style="background: url(home/{{ $page.Params.image }}); background-size: cover;">
        <div class="col-sm-12 home-intro">
        {{ . | markdownify }}
        </div>
    </div>
{{ end }}
