{{ partial "header.html" . }}
<div class="row">
    <div class="col-md-12">
        {{ .Title }}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <article>
            {{ .Content }}
        </article>
    </div>
</div>    
{{ partial "footer.html" . }}
