<div class="case-studies-single-box">
  <div class="thumbnail">
    <a href="{{ .Permalink }}" class="case-studies-single-box--link">
      <div class="case-studies-single-box--image" style="background-image: url('/case-studies/{{ .Params.menucontent.image }}');"></div>
    </a>
    <div>
      <a href="{{ .Permalink }}" class="case-studies-single-box--link">
        <h3>{{ .Title }}</h3>
        <p class="company-date">{{ .Params.company }}  | {{ .Date.Format "Jan 2006" }}</p>
        {{ if not (eq .Params.summary "") }}
        <p class="action-description">{{ .Params.summary }}</p>
        {{ end }}
      </a>
      {{ if .Params.methods }}
        {{ if gt (len .Params.methods) 0 }}
          <div class="tags">
            {{ $Site := .Site }}
            {{ range .Params.methods }}
              {{ with $Site.GetPage "page" "methods" . }}
                    {{ .Render "tag" }}
              {{ end }}
            {{ end }}
          </div>
        {{ end }}
      {{ end }}
    </div>
  </div>
</div>
